RESEND_API_KEY=your_resend_api_key
PORT=3000

# Admin Credentials
ADMIN_USER=admin
ADMIN_PASSWORD=admin

# Payment Info (Public on Frontend)
BANK_ACC=96247NGHIA27
BANK_NAME=BIDV

# Backup & Storage
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/xxx/exec
DB_PATH=brain.db
